.hubble-mask-line {
  width: 12px;
  height: 2px;
  background-color: #cacaca;
  margin-right: 3px;

  &--empty {
    background-color: transparent;
  }

  &-container {
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

}
